/* 
    font-family: 'ADLaM Display', sans-serif; 

    #172444
    #3e5587
    #f9a920
    #ffca0a
    #f1f1f1

    font color

    #000000
    #565656
    #858585
    #ffca0a
    #f1f1f1
    #ffffff
    https://animista.net/play/entrances

    
*/
:root{

    --body-bg: #f9faff;


    --body-color: #565656;

    --bg-color-02:#f1f1f1;
    --bg-color-03:#ffffff;
    --text-color:#565656;
    --head-color:#37383d;
    
    --gelb-01:#f5c722;
    --gelb-02:#ffca0a;
    --gelb-03:#f9a920;
    --gelb-04:#dd900c;

    --blau-01:#055aaf;
    --blau-o2:#172444;

    --gray-01:#858585;
    --gray-02:#565656;
    --gray-03:#37383d;
    --gray-04:#25282b;

    --weiss-01:#ffffff;
    --weiss-02: #f1f1f1;
}

@media (prefers-color-schame: dark){
    html{
        color-scheme: dark;
    }
}
html {
  padding: 0;
}
body {
  background-color: var(--body-bg);
  /* font-family: 'ADLaM Display', sans-serif; */
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: var(--body-color);
}

header {
  height: 54px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 6rem;
  box-shadow: 0.1rem 0.01rem 0.3rem var(--gelb-01);
  position: fixed;
  width: 90%;
  top: 0;
  right: 0;
  background-color: var(--body-bg);
  z-index: 999;
}

header .head-name {
    width: 25%;
    order: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
header .menue {
  order: 2;
  width: 75%;
}

header .head-name a {
  font-family: "ADLaM Display", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--gray-02);
}

header .menue ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .menue ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--gray-02);
  letter-spacing: 0.04rem;
}


header .menue ul li {
    margin-left: 1.6rem;
}

header .menue ul li a:hover {
    color: var(--gelb-02);
}
.home {
    display: flex;
    flex-wrap: wrap;
}
.home .home-img {
    width: 50%;
    margin: 54px 0 0 0;
    padding: 0;
}
.home .home-img img {
    display: block;
    margin: 0;
    padding: 0;
    width: 70%;
}
.home .home-content {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15%;
}

.home .home-content .hallo-cnt {
    font-size: 1.25 rem;
    margin-bottom: 2px;
}

.home .home-content h1 {
    font-size: 2.5rem;
    margin: 2px 0;
    color: var(--gelb-02);
    text-shadow: 0.6rem 0.4rem 1rem var(--gelb-01);
}
.home .home-content h2 {
    font-size: 1.6rem;
    margin: 2px 0;
    color: var(--head-color);
    
}
.home .home-content .home-txt {
    font-size: 0.9rem;
    margin: 10px 0;
    width: 60%;
}
.color-orange {
    color: var(--gelb-02);
    text-shadow: 0.1rem 0.1rem 0.5rem var(--gelb-01);
}

.home .social-media ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
.home .social-media ul li {
    margin-right: 1.6em;
}
.home .social-media ul li i{
    font-size: 28px;
    color: var(--gelb-03);
}

.home button, .about-me button{
    width: fit-content;
    height: 43px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to right,var(--gelb-04),var(--gelb-01));
    color: var(--weiss-01);
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 0.8rem;
    box-shadow: 0.1rem 0.01rem 0.3rem var(--gelb-01);
}

.home button:hover, .about-me button:hover {
    background: linear-gradient(to right,var(--blau-o2),var(--blau-01));
    cursor: pointer;
    box-shadow: 0.1rem 0.01rem 0.3rem var(--blau-01);
}

.home button i{
    margin-left: 5px;
    font-size: 20px;
    color: var(--weiss-01);
}


/* about me section */

.about-me {
    background-color: var(--bg-color-02);
    display: flex;
}
.about-me-cnt {
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.about-me-cnt .subtitle {
    color: var(--head-color);
    margin-bottom: 5px;
    font-size: 2.1rem;
}
.about-me-cnt p{
    margin: 6px 0;
    color: var(--gray-02);
    font-size: 1rem;
}
.about-me-cnt .about-me-cnt-titel{
    font-weight: bold;
    color: var(--head-color);
}
.about-me-img {
    width: 40%;
    padding: 5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
}
.about-me-img img {
    display: block;
    width: 60%;
    border: 0.3rem solid var(--gelb-01);
    box-shadow: 0.1rem 0.2rem 0.9rem var(--gelb-03);
    border-radius: 100%;
}

/* services */

.my-services {
    padding: 3rem 8rem;
    background-color: var(--body-bg);
}

.my-services h2,.my-porjects h2 ,.contact-me h2{
    color: var(--head-color);
    text-align: center;
    margin-bottom: 40px;
}

.service-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 6rem;
}
.service-card .service-card-item {
    width: 30%;
    background-color: var(--bg-color-02);
    border-radius: 1rem ;
    box-shadow: 0.01rem 0.01rem 0.25rem var(--gelb-01);
    padding:2.5rem 1.5rem;
    box-sizing: border-box;
    border:1px solid var(--gelb-04);
}

.service-card .service-card-item i {
    font-size: 2.4rem;
    color: var(--gelb-03);
}
.service-card .service-card-item h3{
    font-size: 1.1rem;
    margin-bottom: 3px;
    color: var(--head-color);
}
.service-card .service-card-item p{
    font-size: 0.9rem;
    letter-spacing: -0.01rem;
    color: var(--gray-02);
}

.service-card .service-card-item button{
    background-color: var(--bg-color-02);
    border: none;
    border-bottom: 0.17rem solid var(--gelb-03);
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--gray-03);
}
.service-card .service-card-item button:hover {
    border-bottom: 0.17rem solid var(--blau-o2);
    cursor: pointer;
}

.service-card .service-card-item button i{
    margin-left: 5px;
    font-size: 14px;
    color: var(--gelb-03);
}
.service-card .service-card-item button:hover i{
    color: var(--blau-o2);
}

/* projects */
.my-porjects {
    padding: 3rem 8rem;
    background-color: var(--bg-color-02);
}
.my-porjects .projects-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 6rem;
}

.my-porjects .projects-card .projects-card-item {
    position: relative;
    width: 30%;
    background-color: var(--bg-color-03);
    border-radius: 1rem ;
    box-shadow: 0.1rem 0.1rem 0.25rem var(--gelb-01);
    padding:1.5rem 1.5rem 1rem;
    box-sizing: border-box;
    border:1px solid var(--gelb-04);
    margin-bottom: 3rem;
}

.my-porjects .projects-card .projects-card-item img {
    display: block;
    width: 100%;
    max-height: 140px;
    object-fit: cover;
    object-position: 100% 0;
    overflow: hidden;
    margin: auto;
    border-radius: 1rem;
}

.my-porjects .projects-card .projects-card-item .projects-content .subtitle-cnt{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.my-porjects .projects-card .projects-card-item .projects-content .subtitle-cnt i{
    font-size: 1.4rem;
    color: var(--gelb-03);
}
.my-porjects .projects-card .projects-card-item .projects-content .subtitle-cnt h4{
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.9rem;
}
.my-porjects .projects-card .projects-card-item .projects-content h3{
    margin: 0px;
    font-size: 01rem;
    color: var(--head-color);
}
.my-porjects .projects-card .projects-card-item .projects-card-item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--blau-o2);
    border-radius: 1rem ;
    box-shadow: 0.1rem 0.2rem 0.8rem var(--blau-01);
    border: 1px solid var(--blau-01);
    opacity: 0.95;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 3rem;
    box-sizing: border-box;
    z-index: 2;
}
.my-porjects .projects-card .projects-card-item .projects-card-item-overlay h3{
    font-size: 01rem;
    color: var(--gelb-01);
    text-align: center;
}
.my-porjects .projects-card .projects-card-item:hover .projects-card-item-overlay {
    display: block;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    animation: zoomIn;
    animation-duration: 0.4s;
    
}

.my-porjects .projects-card .projects-card-item:hover .projects-card-item-overlay h3{
    animation: slideInDown;
    animation-duration: 2s;
}
/* contact me */

.contact-me{
    padding: 3rem 8rem;
    background-color: var(--blau-o2);
    margin: 0;
}

.contact-me h2{
    color: var(--weiss-02);
    text-align: center;
    margin-bottom: 40px;
}

.contact-me .contact-form form{
    width: 40%;
    margin: auto;
}
.contact-me .contact-form form input {
    width: 49%;
    height: 40px;
    border-radius: 0.3rem;
    border: none;
    margin-bottom: 0.6rem;
    box-shadow:inset 0.2rem 0.2rem 01rem var(--gelb-01);
    padding: 0 1rem;
    box-sizing: border-box;
}
.contact-me .contact-form form textarea{
    width: 100%;
    border-radius: 0.3rem;
    border: none;
    margin-bottom: 0.6rem;
    box-shadow:inset 0.2rem 0.2rem 01rem var(--gelb-01);
    padding: 1rem;
    box-sizing: border-box;
}

.contact-me .contact-form form .form-button{
    width: fit-content;
    height: 43px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to right,var(--gelb-04),var(--gelb-01));
    color: var(--weiss-01);
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 0.8rem;
    box-shadow: 0.1rem 0.01rem 0.3rem var(--gelb-01);
}

.contact-me .contact-form form .form-button:hover {
    background: linear-gradient(to right,var(--blau-o2),var(--blau-01));
    cursor: pointer;
    box-shadow: 0.1rem 0.01rem 0.3rem var(--blau-01);
}

.contact-me .contact-form form .form-button i{
    margin-left: 5px;
    font-size: 20px;
    color: var(--weiss-01);
}

.copy-write {
    height: 44px;
    background-color: #030100;
    color: var(--weiss-02);
    margin: -16px;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
